/* =================================================

DON'T IMPLEMET CHANGES IN CSS FILE. 
PROJECT STYLED IN SASS FILES.

================================================= */
/* ----- general css ----- */
html, body {
  background-color: #000000; }

footer {
  margin-bottom: 10px; }

.col-ms-1, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9, .col-ms-10, .col-ms-11, .col-ms-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 748px; }
  .hidden-xs {
    display: block !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .col-ms-1, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9, .col-ms-10, .col-ms-11, .col-ms-12 {
    float: left; }
  .col-ms-12 {
    width: 100%; }
  .col-ms-11 {
    width: 91.66666667%; }
  .col-ms-10 {
    width: 83.33333333%; }
  .col-ms-9 {
    width: 75%; }
  .col-ms-8 {
    width: 66.66666667%; }
  .col-ms-7 {
    width: 58.33333333%; }
  .col-ms-6 {
    width: 50%; }
  .col-ms-5 {
    width: 41.66666667%; }
  .col-ms-4 {
    width: 33.33333333%; }
  .col-ms-3 {
    width: 25%; }
  .col-ms-2 {
    width: 16.66666667%; }
  .col-ms-1 {
    width: 8.33333333%; }
  .col-ms-pull-12 {
    right: 100%; }
  .col-ms-pull-11 {
    right: 91.66666667%; }
  .col-ms-pull-10 {
    right: 83.33333333%; }
  .col-ms-pull-9 {
    right: 75%; }
  .col-ms-pull-8 {
    right: 66.66666667%; }
  .col-ms-pull-7 {
    right: 58.33333333%; }
  .col-ms-pull-6 {
    right: 50%; }
  .col-ms-pull-5 {
    right: 41.66666667%; }
  .col-ms-pull-4 {
    right: 33.33333333%; }
  .col-ms-pull-3 {
    right: 25%; }
  .col-ms-pull-2 {
    right: 16.66666667%; }
  .col-ms-pull-1 {
    right: 8.33333333%; }
  .col-ms-pull-0 {
    right: auto; }
  .col-ms-push-12 {
    left: 100%; }
  .col-ms-push-11 {
    left: 91.66666667%; }
  .col-ms-push-10 {
    left: 83.33333333%; }
  .col-ms-push-9 {
    left: 75%; }
  .col-ms-push-8 {
    left: 66.66666667%; }
  .col-ms-push-7 {
    left: 58.33333333%; }
  .col-ms-push-6 {
    left: 50%; }
  .col-ms-push-5 {
    left: 41.66666667%; }
  .col-ms-push-4 {
    left: 33.33333333%; }
  .col-ms-push-3 {
    left: 25%; }
  .col-ms-push-2 {
    left: 16.66666667%; }
  .col-ms-push-1 {
    left: 8.33333333%; }
  .col-ms-push-0 {
    left: auto; }
  .col-ms-offset-12 {
    margin-left: 100%; }
  .col-ms-offset-11 {
    margin-left: 91.66666667%; }
  .col-ms-offset-10 {
    margin-left: 83.33333333%; }
  .col-ms-offset-9 {
    margin-left: 75%; }
  .col-ms-offset-8 {
    margin-left: 66.66666667%; }
  .col-ms-offset-7 {
    margin-left: 58.33333333%; }
  .col-ms-offset-6 {
    margin-left: 50%; }
  .col-ms-offset-5 {
    margin-left: 41.66666667%; }
  .col-ms-offset-4 {
    margin-left: 33.33333333%; }
  .col-ms-offset-3 {
    margin-left: 25%; }
  .col-ms-offset-2 {
    margin-left: 16.66666667%; }
  .col-ms-offset-1 {
    margin-left: 8.33333333%; }
  .col-ms-offset-0 {
    margin-left: 0; } }

.visible-xs,
.visible-ms {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-ms-block,
.visible-ms-inline,
.visible-ms-inline-block {
  display: none !important; }

@media (max-width: 479px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 479px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 479px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 479px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible-ms {
    display: block !important; }
  table.visible-ms {
    display: table !important; }
  tr.visible-ms {
    display: table-row !important; }
  th.visible-ms,
  td.visible-ms {
    display: table-cell !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible-ms-block {
    display: block !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible-ms-inline {
    display: inline !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible-ms-inline-block {
    display: inline-block !important; } }

@media (max-width: 479px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .hidden-ms {
    display: none !important; } }

/* This stylesheet generated by Transfonter (http://transfonter.org) on August 18, 2016 11:46 AM */
@font-face {
  font-family: 'Reenie Beanie';
  src: url("../fonts/ReenieBeanie/ReenieBeanie.eot");
  src: url("../fonts/ReenieBeanie/ReenieBeanie.eot?#iefix") format("embedded-opentype"), url("../fonts/ReenieBeanie/ReenieBeanie.woff") format("woff"), url("../fonts/ReenieBeanie/ReenieBeanie.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

/* ===== NavBar section ===== */
/* Boostrap default NavBar - custom settings */
header {
  min-height: 60px; }
  header .navbar.navbar-custom {
    min-height: 60px;
    background-image: none;
    background-color: #000000;
    border: none; }
    header .navbar.navbar-custom .navbar-brand {
      min-height: 60px;
      padding-top: 0; }
    header .navbar.navbar-custom .navbar-toggle {
      margin-top: 12px;
      margin-right: 30px; }
    header .navbar.navbar-custom .collapse.navbar-collapse {
      margin-top: 7px; }
    header .navbar.navbar-custom .navbar-nav > .active > a, header .navbar.navbar-custom .navbar-nav > .active > a:hover, header .navbar.navbar-custom .navbar-nav > .active > a:focus {
      background-color: transparent;
      background-image: none;
      box-shadow: none; }
    header .navbar.navbar-custom .navbar-nav .dropdown-menu {
      background-image: none;
      background-color: #000000; }
      header .navbar.navbar-custom .navbar-nav .dropdown-menu > li > a {
        color: #9d9d9d; }
        header .navbar.navbar-custom .navbar-nav .dropdown-menu > li > a:hover, header .navbar.navbar-custom .navbar-nav .dropdown-menu > li > a:focus {
          background-color: transparent;
          background-image: none;
          color: #ffffff; }

header .navbar.navbar-custom .nav.navbar-nav ul > li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px; }
  header .navbar.navbar-custom .nav.navbar-nav ul > li > a {
    text-decoration: none;
    color: #9d9d9d; }

/* ===== Slider section ===== */
/* Boostrap Default Carousel - custom settings */
#mainCarousel {
  padding-top: 0; }
  #mainCarousel .carousel-indicators {
    position: relative;
    top: 5px; }
    #mainCarousel .carousel-indicators li {
      width: 12px;
      height: 12px;
      margin: 4px; }
      #mainCarousel .carousel-indicators li:active {
        width: 12px;
        height: 12px;
        margin: 4px; }
  #mainCarousel .carousel-inner .item img {
    width: 100%; }
  #mainCarousel .carousel-inner .item .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -5px;
    text-shadow: none; }
  #mainCarousel .carousel-descript {
    background-color: rgba(119, 19, 19, 0.7);
    padding: 2% 5% 0 5%;
    min-height: 145px; }
    #mainCarousel .carousel-descript a {
      text-decoration: none;
      color: #ffffff; }

/* ===== Boxes section ===== */
.boxes {
  font-family: 'Reenie Beanie'; }
  .boxes .row div[class^="col-"] {
    margin-bottom: 15px; }
  .boxes .row .img-responsive {
    width: 100%; }
  .boxes a {
    text-decoration: none; }
    .boxes a .box-title {
      position: relative;
      bottom: 3.7rem;
      text-align: right;
      color: #ffffff;
      font-size: 3.7rem;
      line-height: 0;
      padding-right: 3.7rem; }
    .boxes a .box-title.font-black {
      color: black; }

/* ===== Footer section ===== */
footer hr {
  border-color: #6c6565; }

footer p {
  line-height: 3;
  color: #6c6565;
  text-align: center; }

footer ul {
  list-style-type: none;
  text-align: center; }
  footer ul li {
    display: inline-block;
    vertical-align: top; }
    footer ul li a {
      text-decoration: none;
      color: #6c6565; }
      footer ul li a .fa, footer ul li a span {
        font-size: 3rem; }
      footer ul li a .fa.fa-twitter {
        padding-left: 24px; }
      footer ul li a .fa.fa-facebook-square {
        padding-right: 24px; }

/* Adding bootstrap styles not working in additional MediumSmall grid 480px on default*/
@media screen and (min-width: 480px) {
  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto; } }

/* ===== NavBar section ===== */
@media screen and (min-width: 768px) {
  header .navbar.navbar-custom {
    margin-bottom: 0; } }

/* ===== Slider section ===== */
@media screen and (min-width: 768px) {
  #mainCarousel {
    margin-bottom: 30px; }
    #mainCarousel .carousel-indicators {
      position: absolute;
      top: 92%; }
    #mainCarousel .carousel-inner .item .carousel-caption {
      position: absolute;
      left: 55%;
      width: 37%;
      bottom: 8%;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
      #mainCarousel .carousel-inner .item .carousel-caption .carousel-descript {
        min-height: 100px;
        padding: 5%; } }

/* ===== Boxes section ===== */
@media screen and (min-width: 480px) {
  .boxes .row {
    margin-left: -10px;
    margin-right: -10px; }
    .boxes .row div[class^="col-"] {
      margin-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px; } }

@media screen and (min-width: 768px) {
  .boxes .row div[class^="col-"] {
    margin-bottom: 20px; }
  .boxes .row .img-max-height {
    max-height: 220px; }
  .box-wrap {
    display: block;
    overflow: hidden;
    max-height: 220px;
    width: 100%; }
    .box-wrap img {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
    .box-wrap img:hover {
      opacity: 0.85;
      -webkit-transform: scale(1.3, 1.3);
      -moz-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
      -o-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .box-wrap img:hover {
      opacity: 0.85;
      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5); } }

@media screen and (min-width: 992px) {
  .boxes .row .img-max-height {
    max-height: 293px; }
  .boxes .box-wrap {
    display: block;
    overflow: hidden;
    max-height: 293px;
    width: 100%; }
    .boxes .box-wrap img {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
    .boxes .box-wrap img:hover {
      opacity: 0.85;
      -webkit-transform: scale(1.3, 1.3);
      -moz-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
      -o-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .boxes .box-wrap img:hover {
      opacity: 0.85;
      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5); } }

@media screen and (min-width: 1200px) {
  .boxes .row .img-max-height {
    max-height: 360px; }
  .boxes .box-wrap {
    display: block;
    overflow: hidden;
    max-height: 360px;
    width: 100%; }
    .boxes .box-wrap img {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
    .boxes .box-wrap img:hover {
      opacity: 0.85;
      -webkit-transform: scale(1.3, 1.3);
      -moz-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
      -o-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .boxes .box-wrap img:hover {
      opacity: 0.85;
      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5); } }

/* ===== Footer section ===== */
@media screen and (min-width: 768px) {
  footer hr {
    margin-top: 10px; }
  footer p {
    text-align: left; }
  footer ul {
    text-align: right; } }

/*# sourceMappingURL=style.css.map */
