/* Adding bootstrap styles not working in additional MediumSmall grid 480px on default*/ 
@include media-breakpoint-up-ms {
	.img-responsive,
	.thumbnail > img,
	.thumbnail a > img,
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
}


/* ===== NavBar section ===== */

@include media-breakpoint-up-sm {
	//remove margin-bottom
	header {
	  .navbar.navbar-custom {
	  	margin-bottom: 0;
		}
	}	
}	

/* ===== Slider section ===== */

@include media-breakpoint-up-sm {
	//mainCarousel custom settings
	#mainCarousel	{
		margin-bottom: 30px;
		//change position of indicators
		.carousel-indicators {
			position: absolute;
			top: 92%;
		} 
		.carousel-inner .item {
			//change caption position
			.carousel-caption {
				position: absolute;
		    	left: 55%;
				width: 37%;
				bottom: 8%;
				text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
				.carousel-descript {
					//caption min-height
					min-height: 100px;
					padding: 5%;
				}
			}
		}
	}
}

/* ===== Boxes section ===== */

@include media-breakpoint-up-ms {
	//custom settings for additional 480px-757px grid
	.boxes {
		.row {
			margin-left: -10px;
			margin-right: -10px; 
			div[class^="col-"] {
			margin-bottom: 10px;
			padding-left: 10px;
			padding-right: 10px;
			}	
		} 
	}
}	

@include media-breakpoint-up-sm {
	.boxes {
		.row {
			div[class^="col-"] {
			margin-bottom: 20px;
		 	}
			//max-width to keep the same column height
			.img-max-height {
				max-height: 220px;
			}
		}
	}	

	//boxes animation on hover
	.box-wrap {
		display: block;
		overflow: hidden;
		// max-height to keep animation within img height
		max-height: 220px;
		width: 100%;
		img {
			@include transition(all 1s ease-in-out);
		}
		img:hover  {
			opacity: 0.85;
			@include transform(scale(1.3, 1.3));
			@include transition(all 0.5s ease-in-out);
		}
		img:hover  {
			opacity: 0.85;
			@include transform(scale(1.5, 1.5));
		}
	}
}	

@include media-breakpoint-up-md { 
	.boxes {
		.row {
			//to keep the same column height
			.img-max-height {
				max-height: 293px;
			}
		}

		//boxes animation on hover
		.box-wrap {
			display: block;
			overflow: hidden;
			// max-height to keep animation within img height
			max-height: 293px;
			width: 100%;
			img {
				@include transition(all 1s ease-in-out);
			}
			img:hover  {
				opacity: 0.85;
				@include transform(scale(1.3, 1.3));
				@include transition(all 0.5s ease-in-out);
			}
			img:hover  {
				opacity: 0.85;
				@include transform(scale(1.5, 1.5));
			}
		}
	}
}

@include media-breakpoint-up-lg { 
	.boxes {
		.row {
			//to keep the same column height
			.img-max-height {
				max-height: 360px;
			}
		}
	
		//boxes animation on ghover
		.box-wrap {
			display: block;
			overflow: hidden;
			// max-height to keep animation within img height
			max-height: 360px;
			width: 100%;
			img {
				@include transition(all 1s ease-in-out);
			}
			img:hover  {
				opacity: 0.85;
				@include transform(scale(1.3, 1.3));
				@include transition(all 0.5s ease-in-out);
			}
			img:hover  {
				opacity: 0.85;
				@include transform(scale(1.5, 1.5));
			}
		}
	}
}

/* ===== Footer section ===== */

@include media-breakpoint-up-sm { 
	footer {
		hr {
			margin-top: 10px;
		}
		p {
			text-align: left;
		}
		ul {
			text-align: right;
		}
	}
}


