// ----- Bootstrap breakpoints -----
$breakpoint-max-xs: 543px;
$breakpoint-min-sm: 544px;
$breakpoint-max-sm: 767px;
$breakpoint-min-md: 768px;
$breakpoint-max-md: 991px;
$breakpoint-min-lg: 992px;
$breakpoint-max-lg: 1199px;
$breakpoint-min-xl: 1200px;

// ===== Navbar section ===== 

// Boostrap Default NavBar - custom colors 
$navbackground: #000000;
$navcolor: #9d9d9d;
$activecolor: #ffffff;
$bghoverfocus: transparent;

// ===== Footer section =====  

$footcolor: #6c6565;